#top-title {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  background-image: url(https://images3.alphacoders.com/151/151005.jpg);
}
.download-link {
  text-align: center;
  color: aquamarine;
  font-size: 16px;
  font-style: normal;
}
body {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}
.middle-title {
  color: white;
  font-weight: bold;
  font-size: 42px;
}
#excursion-desc {
  color: gray;
  font-size: 21px;
}
#footer {
  color: gray;
  text-align: right;
}
