#top-title {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}
.download-link {
  text-align: center;
  color: aquamarine;
  font-size: 16px;
  font-style: normal;
}
body {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}
#middle-title {
  color: white;
  font-weight: bold;
  font-size: 42px;
}
#excursion-desc {
  color: gray;
  font-size: 21px;
}
#coming-soon p {
  color: white;
  font-size: 42px;
  font-weight: bold;
}
