#top-title {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}
.download-link {
  text-align: center;
  color: aquamarine;
  font-size: 16px;
}
body {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}
